---
layout: default
---        

{% for post in site.posts %}
<div class='row'>
    <div class='col-small'></div>
    <div class='col-large'>
        <a href='{{ post.url }}'>
            <h2>{{ post.title }}</h2>
        </a>
    </div>
</div>
<div class='row'>
    <div class='col-small'>
        <div class='detail'>
            {{ post.date | date_to_string }}
        </div>
        <div class='detail'>
            by {{ post.author }}
        </div>
    </div>
    <div class='col-large'>
        {{ post.excerpt }}
    </div>
    <div class='clear'></div>
</div>
{% endfor %}

<div class='row'>
    <div class='col-small'>
    </div>
    <div class='col-large'>
        <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous fa fa-angle-left"> Previous</a>
        {% endif %}
        {% if paginator.previous_page and paginator.next_page %}
            <span> | </span>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next <i class='fa fa-angle-right'></a>
        {% endif %}
        </div>
    </div>
</div>
