---
layout: default
---        

<div class='row'>
    <div class='col-small header'>
        <a href='/' class='fa fa-angle-left'> Home</a>
    </div>
    <div class='col-large'>
        <h2>{{ page.title }}</h2>
    </div>
</div>
<div class='row'>
    <div class='col-small'>
        <div class='detail'>
            {{ page.date | date_to_string }}
        </div>
        <div class='detail'>
            by {{ page.author }}
        </div>
    </div>
    <div class='col-large'>
        {{ content }}
    </div>
    <div class='clear'></div>
</div>
